PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=smartcampuspay

JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:3000

REDIS_HOST=localhost
REDIS_PORT=6379

# SePay (cổng thanh toán ngân hàng)
SEPAY_API_KEY=
SEPAY_BANK_ID=
SEPAY_BANK_NAME=
SEPAY_ACCOUNT_NUMBER=
SEPAY_QR_BASE=https://qr.sepay.vn/img
SEPAY_STATIC_QR_DES=Nap tien SmartCampusPay - ghi ro ma SV
